<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="opacity-5 mr-1">user:</span>
                        {{ user.username }}
                    </h5>
                    <p class="card-text">
                        <span class="opacity-5 mr-1">Balance:</span>
                        {{ user.balance }} PW
                    </p>
                    <a routerLink="/" class=" btn btn-sm btn-outline-primary mr-3">Back</a>
                    <a routerLink="/payments" class='btn btn-sm btn-outline-primary'>History of payments</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xs-12 col-6" *ngIf="!paymentDone">
            <div class="form-group">
                <label>User select</label>
                <select class="form-control" [(ngModel)]="selectedUserId">
                    <option *ngFor="let user of users" [value]="user._id">{{ user.username }}</option>
                </select>
                <small *ngIf="validUserId && !validUserId.valid"
                    class="form-text text-warning">{{validUserId.message}}</small>
            </div>
            <div class="form-group">
                <label for="exampleInputUsername">Amount</label>
                <input type="text" class="form-control" [(ngModel)]="amount">
                <small *ngIf="validAmount && !validAmount.valid"
                    class="form-text text-warning">{{validAmount.message}}</small>
            </div>
            <div class="text-warning mb-3" *ngIf="paymentError">{{ paymentError }}</div>
            <button class="btn btn-lg btn-outline-success" (click)="create()">Create</button>
        </div>
        <div class="col-xs-12 col-6" *ngIf="paymentDone">
            <h4 class="text-success">Payment made for user {{ distUser.username }}: {{ amount }} PW</h4>
            <button class="btn btn-sm btn-outline-success" (click)="paymentDone = false">Create new payment</button>
        </div>
    </div>
</div>