<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="opacity-5 mr-1">user:</span>
                        {{ user.username }}
                        <small class="opacity-5 ml-3 pointer" (click)="logout()">exit</small>
                    </h5>
                    <p class="card-text">
                        <span class="opacity-5 mr-1">Balance:</span>
                        {{ user.balance }} PW
                    </p>
                    <a routerLink="/create-payment" class=" btn btn-sm btn-outline-success mr-3">Create payment</a>
                    <a routerLink="/payments" class='btn btn-sm btn-outline-primary'>History of payments</a>
                </div>
            </div>
        </div>
    </div>
</div>