<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2 class="mt-4">LOGIN</h2>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    [(ngModel)]="email">
                <small *ngIf="validEmail && !validEmail.valid"
                    class="form-text text-warning">{{validEmail.message}}</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password">
                <small *ngIf="validPassword && !validPassword.valid"
                    class="form-text text-warning">{{validPassword.message}}</small>
            </div>
            <div class="text-warning mb-3" *ngIf="authorizationError">Invalid email or password</div>
            <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>

            <a routerLink="/register" class="ml-4">Sign up</a>
        </div>
    </div>
</div>