<div class="container mt-4">
    <div class="row justify-content-md-center mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="opacity-5 mr-1">user:</span>
                        {{ user.username }}
                    </h5>
                    <p class="card-text">
                        <span class="opacity-5 mr-1">Balance:</span>
                        {{ user.balance }} PW
                    </p>
                    <a routerLink="/" class=" btn btn-sm btn-outline-primary mr-3">Back</a>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="loaded">

        <div class="row hover" *ngFor="let payment of payments">
            <div class="col-2">
                {{ payment.dt | date: 'short'}}
            </div>
            <div class="col-4">
                {{ payment.DistanceUser.username }}
            </div>
            <div class="col-2">
                {{ payment.amount }} PW
            </div>
        </div>

    </ng-container>
</div>