<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2 class="mt-4">SIGN UP</h2>

            <div class="form-group">
                <label for="exampleInputUsername">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername" [(ngModel)]="username">
                <small *ngIf="validUsername && !validUsername.valid"
                    class="form-text text-warning">{{validUsername.message}}</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="email">
                <small *ngIf="validEmail && !validEmail.valid"
                    class="form-text text-warning">{{validEmail.message}}</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password">
                <small *ngIf="validPassword && !validPassword.valid"
                    class="form-text text-warning">{{validPassword.message}}</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password Reply</label>
                <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="replyPassword">
                <small *ngIf="validReplyPassword && !validReplyPassword.valid"
                    class="form-text text-warning">{{validReplyPassword.message}}</small>
            </div>
            <div class="text-warning mb-3" *ngIf="signupError">{{ signupError }}</div>
            <button type="submit" class="btn btn-primary" (click)="signup()">Sign Up</button>
            <a routerLink="/login" class="ml-4">Log in</a>
        </div>
    </div>
</div>